.div {
  color: #7F7F7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.input {
  margin-bottom: 30px;
  padding: 14px 0 13px 20px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 800px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #3D3D3D;
  background: #242424;
}

.checkbox {
  margin-right: 16px;
  margin-bottom: 50px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #3D3D3D;
  background: #242424;
}
 